.cardLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    background: white;
    border-radius: 21px;
    overflow: hidden;
    height: 731px;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    position: relative;
    height: 253px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeTag {
    position: absolute;
    top: 21px;
    right: 22px;
    background: #FFD15B;
    padding: 5px 15px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 0.75rem;
}

.content {
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.title {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    font-family: "Anton", sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sectionTitle {
    font-size: 12px;
    font-weight: bold;
    color: #7A7A7A;
    letter-spacing: 9%;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-size: 14px;
    gap: 10px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.ingredientName {
    color: #000;
    font-weight: 500;
}

.ingredientQuantity {
    color: #7A7A7A;
}