.footer {
  background: #000;
  color: white;
  padding: 2rem 0;
  margin-top: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  font-weight: normal;
}